docker.enabled = true

params.reads = "/home/simon/input/*_{1,2}.fq"
params.transcriptome = "/home/simon/input/hg19.fa"
params.gtf = "/home/simon/input/ref-transcripts.gtf"

process{
	withLabel: fastp{
	container = 'nanozoo/fastp'
	}
	
	withLabel: kallisto{
	container = 'zlskidmore/kallisto'
	}
	withLabel: cufflinks{
	container = 'dceoy/cufflinks'
	}
}	

